@import './styles/Reset';
@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,400i,600,600i,700,800,900');

html * {
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.5px;
  line-height: 18px;
}

body{
  background-color: #f8f9fa;
  color: #495057;
}

.app {
  min-height: 100vh;
  max-width: 1100px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@for $i from 1 through 6 {
  $fz: 0.35;
  $lh: 0.25;
  h#{$i} {
    font-size: ($fz*(7-$i))+rem;
    line-height: ($lh*(7-$i))+rem;
  }
}


//.flex {
//  background: transparentize(#005b9f, 0.8);
//}
//
//.flex-item {
//  background: transparentize(#005b9f, 0.2);
//  color: #fafafa
//}

.item {
  background: transparentize(#005b9f, 0.2);
  color: #fafafa;
  font-weight: 600;
  padding: 5px;
}

.container {
  background: #f7f7f7;
  border: 2px dashed #ddd;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

